<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    </head>
    <body class="page-{{ page.id }}">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.layout == link.layout %}
                  {% assign current = 'current' %}
                {% endif %}
                <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        {{ content }}

        <div class="footer">
          &copy; 2013, Kelley Collision Center &bull; 550 NE 1st Ave &bull; Hallendale Beach, FL 33009
        </div>

        <script src="{{ site.baseurl }}/js/jquery-2.0.3.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/js/kelley.js"></script>
    </body>
</html>
